div.resp-nav {
	width:25%;
	float:left;
}

div.resp-option {
	width:100%;
	float:left;
	font-family:"OpenSansBold";
	font-size:17px;
	background:#e9e9e9;
	padding:10px 15px;
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    padding: 13px 15px;
    list-style: none;
    cursor: pointer;
    float: left;
	background:#292929 url(../images/arrow-rn.jpg) 97% 17px no-repeat;
	border:1px solid #000;
	margin:1px 0 0 0;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:normal;
}

.resp-tabs-container {
    padding: 0px;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 0 0 0 25px;
}

.resp-tab-active {
    background:#ffea00 url(../images/arrow-r.jpg) 97% 17px no-repeat !important;
	color:#292929 !important;
	border:1px solid #decc00 !important;
}


.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
}
.resp-tab-content h3 {
	width:100%;
	float:left;
	margin:0;
	padding:0;
	font-family:"OpenSansBold";
	font-size:25px;
	color:#000;
}
.resp-tab-content p {
	width:100%;
	float:left;
	margin:0;
	padding:0;
	font-family:"OpenSansRegular";
	font-size:15px;
	color:#68686a;
	font-weight:normal;
	padding:16px 0 4px 0;
}
.resp-tab-content p span {
	color:#000000;
}

h2.resp-accordion {
	width:100%;
	float:left;
	color:#fff;
    font-size: 13px;
    margin: 0 0 1px 0;
    padding: 10px 15px;
	background:#292929;
	border:1px solid #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:normal;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 100%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 10px 15px !important;
    margin: 1px 0 0 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    float: left;
    width: 75%;
    min-height: 250px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #949494;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #7f7500;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background:#ffea00 !important;
	color:#292929 !important;
	border:1px solid #decc00 !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
	.resp-tab-content {
		float:left;
		padding:10px;
		border:1px solid #c1c1c1;
	}
	.resp-tab-content h3 {
		display:none;
	}
	div.resp-nav {
	width:100%;
	float:left;
	}
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: left;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
