@charset "utf-8";
/* CSS Document */

<!--edit brand part-->
.navbar-brand img { padding: 6px; width: 100%;}
.navbar-header a.navbar-brand { height: inherit; padding: inherit;}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
<!--edit brand part-->



img{ max-width:100%;}
.inner-gapbox-1 { padding: 50px 0 50px 0;}

/**--HEADER PART---**/
.topheader {background: none repeat scroll 0 0 #f9e514; min-height: 40px; width: 100%; padding:20px 0;}
.logg { display: block; float: right;}
.logg > ul { margin: 0; padding: 0;}
.logg ul li { display: inline-block;}
.logg ul li a img { float:left; margin:0 8px 0 0; padding:0; }
.logg li a { color: #000; display: inline-block; font: 15px/20px "OpenSansRegular"; padding: 0px 12px;  border-right: solid 1px #000;}
.logg li a:hover{ text-decoration:none;}
.logg li a.last { border: 0 none;}
/**nav**/
.navbar-nav > li > a { color: #7e7c7e; font: 15px/20px "OpenSansRegular"; padding-bottom: 10px; padding-top: 10px; text-transform: uppercase;}
.mainheader-wrapp {  background: none repeat scroll 0 0 #f9e514; height: auto; width: 100%;}
.navbar { border: none; padding: 10px 20px;}
.mainheader-wrapp .navbar { display: block;height: 90px;width: 100%;}
.mainheader-wrapp .navbar-collapse .nav li.active a { background: none; color: #000;}
.mainheader-wrapp .navbar-nav.navbar-right:last-child { margin-right: 0; margin-top: 16px;}

/***banner section**/
.bannerboxwrapp { background: none repeat scroll 0 0 #eaeaea; border-bottom: 1px solid #ccc; height: 400px; overflow: hidden; width: 100%;}

/**footer-section**/
footer { width:100%; float:left; }
.mainfooter-wrapp { background: none repeat scroll 0 0 #fff; border-top: 8px solid #f9e514; padding:30px 0px; margin:0; }
.fo-brandlo { display: block; margin-bottom: 14px;}
.mainfooter-wrapp h6 { color: #393939; font: 13px/20px "OpenSansRegular";}
.mainfooter-wrapp h2 {font: 17px/24px "OpenSansBold"; margin-top:40px;}
.copyright-wrap { color: #000; font: 13px/18px "OpenSansRegular"; margin-top: 20px;}
.fo-contentlist ul { margin: 0; padding: 0;}
.fo-contentlist ul li { list-style: none outside none;}
.fo-contentlist ul li a { color:#393939;  font: 13px/30px "OpenSansRegular";}
.ex-left {float: left; width: 64%;}
.ex-right {float: left; width: 30%;}
.fo-contentlist ul li a.phno{ color:#00aaf1;}
.email {margin-right: 10px;}


/**quoet/and /caro-slider**/
.quoet-warps { background: none repeat scroll 0 0 #f5f5f5;}
.custom-carosulslides { margin: 0 auto; max-width: 1000px; width: 100%;}
.custom-carosulslides h1 {text-align: center;}
ul.bxslider {margin: 0;}
ul.bxslider li { text-align:right; }
.img-boxquote { margin-top: 36px;}
.block-quea > img { margin: 0 auto; width: 60px;}
.block-quea { margin-bottom: 44px;  margin-top: 20px;}
.q-textcenter { color: #252525; font: 17px/24px "OpenSansRegular";text-align: center;}
.img-center { margin: 0 auto; width: 120px;}
.descriip-figure h3 { font: 19px/22px "OpenSansSemibold"; margin-bottom: 20px;}
.descriip-figure p { color: #616161; font: 15px/22px "OpenSansRegular"; margin-bottom: 2px;}

/**event-section**/
.event-wrapp .feature-heading { background: url("../images/line.png") repeat-x scroll left center rgba(0, 0, 0, 0); font: 19px/24px "OpenSansBold"; margin: 0 auto; width: 60%; text-align:center;}
.feature-heading h2 { background: none repeat scroll 0 0 #fff; display: inline; font: 19px/24px "OpenSansBold"; margin: 0; padding: 0 20px; text-align: center;}
.event-text { color: #252525; font: 17px/22px "OpenSansRegular"; margin: 50px auto 0; text-align: center; width: 80%;}
/**8.9.14
Email-regis**/
.heading-box {}
.regi-heading { background: none repeat scroll 0 0 #f9e514; display: inline-block; font: 18px/24px "OpenSansSemibold"; padding: 14px 24px;
 border-radius: 4px 4px 0 0;
 -webkit-border-radius: 4px 4px 0 0;
 -moz-border-radius: 4px 4px 0 0;
 -khtml-border-radius: 4px 4px 0 0;
 -o-border-radius: 4px 4px 0 0;
 -xv-border-radius: 4px 4px 0 0;}
.email2 { margin-right: 10px;}
.rgeistration-wrapp {border: 1px solid #ccc; padding: 20px;}
.add_clinic { border: 1px solid #ccc; padding:5% 15% 5% 8%;}
.add_clinic label { padding:10px 0 0 0; text-align:right; font:normal 14px/18px Arial; color:#292929; }
.add_clinic label sup { color:#F00; font-size:12px; font-weight:bold; }
.add_clinic .save {  background:#ffea00; border: medium none; color:#000; font: 19px/22px "OpenSansRegular";margin-right: 14px; padding: 8px 24px;border: 1px solid #d4cf00; }
.add_clinic .cancel {  background:#292929; border: medium none; color:#fff; font: 19px/22px "OpenSansRegular";margin-right: 14px; padding: 8px 24px;border: 1px solid #292929; }
.add_clinic span.checkitem { width:100%; float:left; padding:0 0 10px 0; font:normal 14px/18px Arial; color:#292929; }
.add_clinic span.checkitem checkbox { margin-right:10px; }
.clinic_pic { width:126px; height:126px; float:left; position:relative; margin:0; padding:0; border:5px solid #dbdbdb; }
.clinic_pic img { width:100%; height:100%; position:absolute; left:0; top:0; margin:0; padding:0; border:0; }
.upload_clinic_pic { width:180px;  float:left; margin:0 0 20px 21px; }
.upload_clinic_pic h2 { width:100%; float:left; margin:0; padding:0; font:normal 21px/25px "OpenSansRegular"; color:#949494; }
.upload_clinic_pic button { padding:3px 18px; margin:20px 0 0 0; font:normal 14px/25px "OpenSansRegular"; color:#fff; background:url(../images/browse_bg.jpg); border:0; }
.upload_clinic_pic span { width:100%; float:left; margin:0; padding:7px 0 0 0; font:normal 14px/20px "OpenSansRegular"; color:#949494; }

.pdb { padding-bottom:17px; }
.user-box2 {
  display: inline-block;
  float: left;
   font: 17px/22px "OpenSansRegular"; color:#949494;
   width:150px;
   margin-bottom:10px;
}
.user-box {
  display: inline-block;
   font: 17px/22px "OpenSansRegular"; 
  float: left;
  width:200px;
  margin-bottom:10px;
}
.user-box2 input.e-radio {
  margin-right: 10px;
}
.for-section {
  float: left;
  margin-bottom: 14px;
  width: 100%;
}
input.user-in { border: 1px solid #dcdcdc; padding: 8px 16px; width: 100%; margin-bottom: 20px;font: 14px/20px "OpenSansRegular";
-webkit-box-shadow: 2px 2px 2px #eaeaea inset;
-moz-box-shadow: 2px 2px 2px #eaeaea inset;
-o-box-shadow: 2px 2px 2px #eaeaea inset;
-khtml-box-shadow: 2px 2px 2px #eaeaea inset;
-xv-box-shadow: 2px 2px 2px #eaeaea inset;
box-shadow: 2px 2px 2px #eaeaea inset;}
textarea.user-in-area { border: 1px solid #dcdcdc; padding: 8px 16px; width: 100%; margin-bottom: 20px;font: 14px/20px "OpenSansRegular";
-webkit-box-shadow: 2px 2px 2px #eaeaea inset;
-moz-box-shadow: 2px 2px 2px #eaeaea inset;
-o-box-shadow: 2px 2px 2px #eaeaea inset;
-khtml-box-shadow: 2px 2px 2px #eaeaea inset;
-xv-box-shadow: 2px 2px 2px #eaeaea inset;
box-shadow: 2px 2px 2px #eaeaea inset; resize:none;}
select.listbox { border: 1px solid #dcdcdc; height:140px; padding:0; width: 100%; margin-bottom: 20px;font: 14px/20px "OpenSansRegular";
-webkit-box-shadow: 2px 2px 2px #eaeaea inset;
-moz-box-shadow: 2px 2px 2px #eaeaea inset;
-o-box-shadow: 2px 2px 2px #eaeaea inset;
-khtml-box-shadow: 2px 2px 2px #eaeaea inset;
-xv-box-shadow: 2px 2px 2px #eaeaea inset;
box-shadow: 2px 2px 2px #eaeaea inset;}
select.listbox option { background:#e5e5e5;border-bottom:1px solid #fff; padding:4px 10px; }
select.listbox option:hover { background:#ffea00; }
select.listbox option.selected { background:#ffea00; }
input.user-in-date { background:url(../images/calender.png) 98% 6px no-repeat; border: 1px solid #dcdcdc; padding: 8px 16px; width: 100%; margin-bottom: 20px;font: 14px/20px "OpenSansRegular";
-webkit-box-shadow: 2px 2px 2px #eaeaea inset;
-moz-box-shadow: 2px 2px 2px #eaeaea inset;
-o-box-shadow: 2px 2px 2px #eaeaea inset;
-khtml-box-shadow: 2px 2px 2px #eaeaea inset;
-xv-box-shadow: 2px 2px 2px #eaeaea inset;
box-shadow: 2px 2px 2px #eaeaea inset;}
.user-head { margin-bottom: 30px; margin-top: 10px; padding-left: 16px;}
.user-mnass { float: left; margin-bottom: 10px; padding-left: 14px;width: 100%;font: 15px/22px "OpenSansRegular";}
.regisyer-butt {  background: none repeat scroll 0 0 #ffea00; border: medium none; font: 21px/24px "OpenSansRegular";margin-left: 14px; padding: 8px 24px;border: 1px solid #d4cf00}
.button-wrapp { float: left; margin: 10px 0;}
.gen { float: left; font: 15px/36px "OpenSansRegular"; margin-bottom: 10px; margin-right: 10px; width: 70px;}
.gen2 { float: left; font: 15px/36px "OpenSansRegular"; margin-bottom: 10px; margin-right: 10px; width:80px; color:#999;}
.rad{ margin-right:6px;}
.code-b { float: left; width: 45%;}
.code-in { float: left; width: 50%;}
.re-mic { float: left; margin: 0; width: 10px;}
.butt-reg { float: left; margin-right: 16px;}
.or { float: left; font: 24px/36px "OpenSansRegular";}
.fb-sign { float: left; margin-left: 14px;}
.che-user { margin-right: 10px;vertical-align: middle;}
.user-mnass2 { float: left; font: 15px/22px "OpenSansRegular"; margin-bottom: 10px; padding-left: 14px; width: 90%;}
.code-b > img { float: left; margin-right: 10px; width: 127px;}
.topheading-box{ background:#F9E514;}
.topheading-box h2 { font: 35px/35px "OpenSansLight"; padding: 0 0 20px;}

.client_info { margin:50px 0 50px 0; }
.client_info td.col-1 { width:7%; text-align:center; }
.client_info td.col-2 { width:43%; }
.client_info td.col-3 { width:25%; }
.client_info td.col-4 { width:25%; text-align:center; }

.client_info_title { margin:0; padding:0; background:#414146; font: 17px/30px "OpenSansLight"; color:#fff; }
.client_info_title td { padding:8px 12px; margin:0; border-right:1px solid #3a3a3f; text-transform:uppercase; vertical-align:middle; }
.client_info_title td img { margin:0; padding:0; }
.client_info_title td a.downarrow { float:right; }

.client_info_cont_g_bar { padding:0; margin:0; font: 14px/14px "OpenSansLight"; color:#000; background:#f7f7f7 url(../images/client-list-bg2.jpg) 0 0 repeat-x; border:1px solid #dcdcdc; border-right:0; }
.client_info_cont_g_bar td { padding:15px 12px; margin:0; border-right:1px solid #dcdcdc; }
.client_info_cont_g_bar td img { margin:0; padding:0; }

.client_info_cont_y_bar { padding:0; margin:0; font: 14px/14px "OpenSansLight"; color:#000; background:#fefce7 url(../images/client-list-bg.jpg) 0 0 repeat-x; border:1px solid #dcdcdc; border-right:0; }
.client_info_cont_y_bar td { padding:15px 12px; margin:0; border-right:1px solid #dcdcdc; }
.client_info_cont_y_bar td img { margin:0; padding:0; }

.scrolltop { width:21px; height:13px; display:none; cursor:pointer; position:fixed; right:7%; bottom:7%; background:url(../images/scroll_uparrow.png) no-repeat; }
.login-main { position:relative; }
.login { width:379px; position:absolute; right:15px; top:20px; padding:0; margin:0; display:none; background:url(../images/login-arrow.png) 58% 3% no-repeat; z-index:9999; }
.login .login_form_close { width:100%; float:left; text-align:right; cursor:pointer; }
.loginform { width:100%; float:left; padding:7% 7% 10% 7%; background:url(../images/login_bg.png); }
.loginform h2 { width:100%; float:left; padding:0 0 20px 36px; margin:0; border-bottom:1px solid #ffffff; font: 20px/20px "OpenSansBold"; color:#ffea00; background:url(../images/login_icon.png) 0 0 no-repeat; }
.loginform .login_field { width:100%; float:left; margin:20px 0 0 0; }
.loginform .login_field input.user-in { margin-bottom:15px; }
.loginform .login_link { width:100%; float:left; font: 15px/15px "OpenSansRegular"; color:#fff; }
.loginform .login_link a { color:#fff; text-decoration:none; }
.loginform .login_link a:hover { text-decoration:underline; }
.loginform .login_remember_me { width:100%; float:left; padding:20px 0 0 0; font: 15px/15px "OpenSansRegular"; color:#fff; }
.loginform .login_remember_me input { margin-right:7px; }
.loginform .login_button { width:100%; float:left; margin:30px 0 0 0; padding:0; }
.loginform .login_button .butt-log { float: left; margin:0 16px 0 0; padding:0; }
.loginform .login_button .or { float: left; font: 16px/38px "OpenSansRegular"; color:#fff; margin:0; padding:0; }
.loginform .login_button .fb-in { float: left; margin:20px 0 0 0; padding:0; }
.loginform .login_button .butt-log .login-butt {  background: none repeat scroll 0 0 #ffea00; border: medium none; font: 21px/24px "OpenSansRegular";margin-left: 14px; padding: 8px 24px;border: 1px solid #d4cf00; margin:0; }

.banner { width:100%; float:left; background:#f9e514; }
.pro { position:relative; }
.see_doctor { width:100%; max-width:450px; float:left; position:relative; z-index:100; }
.see_doctor h1 { display:block; font: 44px/50px "OpenSansLight"; color:#000; }
.see_doctor h1 strong { font: 45px/50px "OpenSansBold"; }
.see_doctor p { display:block; font: 25px/30px "OpenSansLight"; color:#3e3905; }
.find_doctor { display:block; background:#fff; }
.find_doctor #tabs_nav { width:100%; float:left; list-style:none; margin:0; padding:0; }
.find_doctor #tabs_nav li { width:50%; float:left; text-align:center; list-style:none; font: 25px/45px "OpenSansRegular"; }
.find_doctor #tabs_nav li a { display:block; text-decoration:none; background:#414146; color:#fff; border:1px solid #414146; }
.find_doctor #tabs_nav li a.active { text-decoration:none; background:#f9e514; color:#000; border:1px solid #d5c401; position:relative; }
.find_doctor #tabs_nav li a.active:after, .find_doctor #tabs_nav li a.active:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; z-index:100; pointer-events: none; } 
.find_doctor #tabs_nav li a.active:after { border-color: rgba(249, 229, 20, 0); border-top-color: #f9e514; border-width: 7px; margin-left: -7px; } 
.find_doctor #tabs_nav li a.active:before { border-color: rgba(213, 196, 1, 0); border-top-color: #d5c401; border-width: 9px; margin-left: -9px; }
.find_doctor .tabs_content_container { width:100%; float:left; padding:8%; background:#FFF; }
.find_doctor .tabs_content_container .tab_content { display:block; display:none; }
.find_now { width:100%; float:left; }
.find_now button {background:#ffea00 url(../images/find_icon.jpg) 25px 15px no-repeat; border: 1px solid #d4cf00; font: 21px/24px "OpenSansRegular"; margin: 0; padding: 10px 24px 10px 50px; }
.select-box { width:100%; float:left; }
.find_doctor_nearest { width:100%; float:left; font-family:"OpenSansRegular"; font-size:15px; padding:0 0 20px 20px; }
.find_doctor_advanced { width:100%; float:left; font: 15px/25px "OpenSansRegular"; padding:0 0 20px 20px; }
.currently_open { width:100%; float:left; font: 15px/25px "OpenSansRegular"; padding:0 0 20px 20px; }
.currently_open div { float:left; margin:5px 30px 0 0; }
.currently_open  input { margin-right:5px; }
.select-wrapper { width:100%; float: left; margin-bottom:20px; position:relative; background: url(../images/dornarrow.jpg) 98% 50% no-repeat; cursor: pointer; border: 1px solid #dcdcdc; width: 100%; font: 14px/20px "OpenSansRegular";-webkit-box-shadow: 2px 2px 2px #eaeaea inset;	-moz-box-shadow: 2px 2px 2px #eaeaea inset;-o-box-shadow: 2px 2px 2px #eaeaea inset;-khtml-box-shadow: 2px 2px 2px #eaeaea inset;-xv-box-shadow: 2px 2px 2px #eaeaea inset;	box-shadow: 2px 2px 2px #eaeaea inset; }
.select-wrapper select { width:100%;	float:left;	padding: 8px 16px; }
.select-wrapper:hover { background: url(../images/dornarrow.jpg) 98% 50% no-repeat; }
.select-wrapper .holder { display: block; white-space: nowrap; overflow: hidden; cursor: pointer; position: absolute; z-index: 5; padding: 8px 16px; }
.select-wrapper select { z-index: 2; cursor: pointer; outline: none; opacity: 0; _noFocusLine: expression(this.hideFocus=true); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-khtml-opacity: 0;-moz-opacity: 0; }
.find_doctor_element { width:100%; float:left; font-family:"OpenSansRegular"; font-size:15px; }
.find_doctor_nearest .nearest-to { width:25%; float:left; padding:10px 0 0 0; }
.find_doctor_nearest .nearest-to-field { width:75%; float:left; }
.find_doctor_nearest .nearest-to-field .user-in { box-shadow:none; border:0; border-bottom:1px solid #dcdcdc; padding:3px 0; margin-bottom:0; }
.banner_slider { width:100%; float:left; margin:-415px 0 0 0; padding:0; }

.orchard-surgery { width:100%; max-width:620px; padding:80px 0 0 0; float:left; position:relative; z-index:100; }
.orchard-surgery h1 { display:block; font: 44px/50px "OpenSansLight"; color:#000; }
.orchard-surgery h1 strong { font: 45px/50px "OpenSansBold"; }
.orchard-surgery p { display:block; font: 25px/30px "OpenSansLight"; color:#3e3905; }
.orchard-surgery ul { display:block; margin:0; padding:0; list-style:none; }
.orchard-surgery ul li { display:block; margin:0; padding:0; list-style:none; font: 19px/25px "OpenSansLight"; color:#3e3905; padding:0 0 30px 60px; background:url(../images/right_arrow.jpg) 40px 6px no-repeat; }
.orchard-surgery .orchard-buttons { display:block; }
.orchard-surgery .orchard-buttons .book_appointment { font: 21px/25px "OpenSansRegular"; color:#000; background:#f9e514 url(../images/icon22.jpg) 20px 11px no-repeat; margin:5px 0 0 0; padding:15px 35px 15px 65px; border:2px solid #000; }
.orchard-surgery .orchard-buttons .link { font: 21px/25px "OpenSansRegular"; color:#000; background:#f9e514 url(../images/icon23.jpg) 20px 11px no-repeat; margin:5px 0 0 15px; padding:15px 35px 15px 65px; border:2px solid #000; }

.slider1 { width:100%; float:left; background:#f5f5f5; margin:0; padding:0; }
.slider1 .bx-wrapper { margin:0; height:auto !important; }
.slider1 .bx-wrapper .bx-viewport { background:none; height:auto !important;  }
.slider1 .slider_main { display:block; padding:0 10% 3% 10%; overflow:hidden; }
.slider1 .slider_main .icon1 { width:100%; float:left; text-align:center; padding:70px 0 40px 0; clear:both; }
.slider1 .slider_main .icon2 { width:100%; float:left; text-align:center; padding:30px 0 0 0; clear:both; }
.slider1 .bx-wrapper .bx-viewport p { width:100%; float:left; font: 17px/25px "OpenSansRegular"; color:#252525; text-align:center; margin:0; padding:0; clear:both; }
.slider1 .bx-wrapper .bx-viewport h2 { width:100%; float:left; font: 19px/25px "OpenSansBold"; color:#252525; text-align:center; margin:0; padding:20px 0 7px 0; clear:both; }
.slider1 .bx-wrapper .bx-viewport p.robert_detgails { width:100%; float:left; font: 15px/23px "OpenSansRegular"; color:#616161; text-align:center; clear:both; }
.slider1 .bx-controls { width:100%; float:left; position:static; float:left; margin-top:6%; }
.slider1 .bx-wrapper .bx-pager.bx-default-pager a {	background: #b6b6b6; text-indent: -9999px; display: block; width: 10px;	height: 10px; margin: 0 5px; border:0; outline: 0; -moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 50%; }
.slider1 .bx-wrapper .bx-pager.bx-default-pager a:hover,.slider1 .bx-wrapper .bx-pager.bx-default-pager a.active { background: #252525; border:0; }

.featured_events { width:100%; float:left; background:#fff; }
.featured_events .featured_events_title { display:block; background:url(../images/featured_events_title.jpg) 0 60% repeat-x; margin:4% 20% 0 20%; padding:0; text-align:center; }
.featured_events .featured_events_title h2 { display:inline-block; margin:0; padding:0 4%; background:#FFF; font: 25px/27px "OpenSansBold"; color:#252525; }
.featured_events .featured_events_para { display:block; margin:4% 10% 0 10%; padding:0; text-align:center; }
.featured_events .featured_events_para p { display:inline-block; margin:0; padding:0; font: 17px/25px "OpenSansRegular"; color:#252525; }
.featured_events_items { width:100%; float:left; padding:50px 0; }
.featured_events_items div img{ width:100%; float:left; }
.featured_events_items div h2 { width:100%; float:left; font: 19px/25px "OpenSansBold"; color:#252525; margin:0; padding:10px 0 0 0; }
.featured_events_items div p { width:100%; float:left; font: 17px/25px "OpenSansRegular"; color:#868585; margin:0; padding:0; }

.our_doctors { width:100%; float:left; background:#fff; }
.our_doctors .our_doctors_title { display:block; background:url(../images/featured_events_title.jpg) 0 60% repeat-x; margin:4% 20% 0 20%; padding:0; text-align:center; }
.our_doctors .our_doctors_title h2 { display:inline-block; margin:0; padding:0 4%; background:#FFF; font: 25px/27px "OpenSansBold"; color:#252525; }
.our_doctors .our_doctors_para { display:block; margin:4% 10% 0 10%; padding:0; text-align:center; }
.our_doctors .our_doctors_para p { display:inline-block; margin:0; padding:0; font: 17px/25px "OpenSansRegular"; color:#252525; }
.our_doctors_items { width:100%; float:left; padding:50px 0; }
.our_doctors_items div img{ width:100%; float:left; }
.our_doctors_items .doctor_pic { width:100%; float:left; margin:0; padding:0; position:relative; }
.our_doctors_items .doctor_pic div { width:100%; height:100%; position:absolute; left:0; top:0; margin:0; padding:15% 2% 0 2%; background:#f9e514; }
.our_doctors_items .doctor_pic div h2 { width:100%; float:left; text-align:center; font: 17px/25px "OpenSansBold"; color:#252525; margin:0; padding:10px 0 0 0; }
.our_doctors_items .doctor_pic div p { width:100%; float:left; text-align:center; font: 15px/23px "OpenSansRegular"; color:#252525; margin:0; padding:0; }
.our_doctors_items div h2 { width:100%; float:left; font: 19px/25px "OpenSansBold"; color:#252525; margin:0; padding:10px 0 0 0; }
.our_doctors_items div p { width:100%; float:left; font: 15px/23px "OpenSansRegular"; color:#868585; margin:0; padding:0; }

.aboutus_content { width:100%; float:left; margin:50px 0 0 0; padding:0; }
.aboutus_content .aboutus_content_pic { }
.aboutus_content .aboutus_content_pic img { width:100%; }
.aboutus_content .aboutus_content_text h1 { width:100%; float:left; margin:0; padding:0; font: 25px/35px "OpenSansBold"; color:#252525; }
.aboutus_content .aboutus_content_text p { width:100%; float:left; font: 15px/21px "OpenSansRegular"; color:#68686a; margin:0; padding:10px 0 0 0; }

.ourdoctors { width:100%; float:left; background:#fff; }
.ourdoctors .ourdoctors_title { display:block; background:url(../images/featured_events_title.jpg) 0 60% repeat-x; margin:4% 0 0 0; padding:0; text-align:center; }
.ourdoctors .ourdoctors_title h2 { display:inline-block; margin:0; padding:0 4%; background:#FFF; font: 25px/27px "OpenSansBold"; color:#252525; }
.ourdoctors .ourdoctors_para { width:100%; float:left; margin:20px 0 0 0; padding:0; }
.ourdoctors .ourdoctors_para h2 { width:100%; display:block; margin:0; padding:0 0 12px 15px; background:#FFF; font: 25px/27px "OpenSansBold"; color:#252525; text-align:left; }
.ourdoctors .ourdoctors_para p { width:100%; display:block; margin:0; padding:0 0 0 15px; font: 15px/21px "OpenSansRegular"; color:#68686a; text-align:left; }
.ourdoctors_items { width:100%; float:left; padding:50px 0; }
.ourdoctors_items div img{ width:100%; float:left; }
.ourdoctors_items div h2 { width:100%; float:left; font: 19px/25px "OpenSansBold"; color:#252525; margin:0; padding:10px 0 0 0; }
.ourdoctors_items div p { width:100%; float:left; font: 15px/23px "OpenSansRegular"; color:#868585; margin:0; padding:0; }

.doctors_medical_policy { width:100%; float:left; background:#f5f5f5; margin:0; padding:20px 0 40px 0; }
.doctors_medical_policy .medical_disclaimer h2 { display:block; clear:both; padding:0 0 3px 38px; font: 19px/25px "OpenSansBold"; color:#252525; background:url(../images/icon1.jpg) 0 0 no-repeat; }
.doctors_medical_policy .medical_disclaimer p { width:100%; float:left; padding:8px 0 0 0; font: 15px/23px "OpenSansRegular"; color:#68686a; }
.doctors_medical_policy .tos h2 { display:block; clear:both; padding:0 0 3px 38px; font: 19px/25px "OpenSansBold"; color:#252525; background:url(../images/icon2.jpg) 0 0 no-repeat; }
.doctors_medical_policy .tos p { width:100%; float:left; padding:8px 0 0 0; font: 15px/23px "OpenSansRegular"; color:#68686a; }
.doctors_medical_policy .privacy_policy h2 { display:block; clear:both; padding:0 0 3px 38px; font: 19px/25px "OpenSansBold"; color:#252525; background:url(../images/icon3.jpg) 0 0 no-repeat; }
.doctors_medical_policy .privacy_policy p { width:100%; float:left; padding:8px 0 0 0; font: 15px/23px "OpenSansRegular"; color:#68686a; }

.seedoctor_orchardsurg { width:100%; float:left; background:#fff; }
.seedoctor_orchardsurg .seedoctor_orchardsurg_title { display:block; background:url(../images/featured_events_title.jpg) 0 60% repeat-x; margin:4% 20% 0 20%; padding:0; text-align:center; }
.seedoctor_orchardsurg .seedoctor_orchardsurg_title h2 { display:inline-block; margin:0; padding:0 4%; background:#FFF; font: 25px/27px "OpenSansBold"; color:#252525; }
.seedoctor_orchardsurg .seedoctor_orchardsurg_title h2 span { color:#b2b2b2; }
.seedoctor_orchardsurg .seedoctor_orchardsurg_para { display:block; margin:4% 0 0 0; padding:0; text-align:center; }
.seedoctor_orchardsurg .seedoctor_orchardsurg_para img { max-width:100%; margin-bottom:40px; }
.seedoctor_orchardsurg .seedoctor_orchardsurg_para p { display:inline-block; margin:0; padding:0; font: 17px/25px "OpenSansRegular"; color:#252525; }
.seedoctor_orchardsurg .seedoctor_orchardsurg_para p.gray { padding-top:2%; color:#858484; font-style:italic; }
.seedoctor_orchardsurg_items { width:100%; float:left; padding:50px 0; }
.seedoctor_orchardsurg_items .see-orc { width:100%; height:160px; float:left; }
.seedoctor_orchardsurg_items .see-orc-left { width:20%; float:left; }
.seedoctor_orchardsurg_items .see-orc-left img { max-width:100%; float:left; }
.seedoctor_orchardsurg_items .see-orc-right { width:80%; float:left; }
.seedoctor_orchardsurg_items .see-orc-right h2 { width:100%; float:left; font: 19px/25px "OpenSansBold"; color:#252525; margin:0; padding:0 0 0 0; }
.seedoctor_orchardsurg_items .see-orc-right p { width:100%; float:left; font: 15px/23px "OpenSansRegular"; color:#868585; margin:0; padding:0; }
.seedoctor_orchardsurg_items .see-orc-right button { font: 17px/25px "OpenSansRegular"; background:#f9e514; margin:5px 0 0 0; padding:3px 15px 5px 15px; border:0; }
.seedoctor_orchardsurg_items .appointment_module { text-align:center; font-style:italic !important; height:200px; padding:150px 0 0 0; font: 34px/45px "OpenSansBold"; }
.seedoctor_orchardsurg_items .appointment_module1 { text-align:center; font-style:italic !important; height:auto; padding:0 0 30px 0; font: 24px/35px "OpenSansBold"; }

.wall_map { width:100%; float:left; background:#fff; }
.wall_map iframe { width:100%; height:450px; float:left; }

.featured_in { width:100%; float:left; background:#f8e60c; }
.featured_in .featured_in_title { display:block; background:url(../images/featured_events_title.jpg) 0 60% repeat-x; margin:4% 20% 0 20%; padding:0; text-align:center; }
.featured_in .featured_in_title h2 { display:inline-block; margin:0; padding:0 4%; background:#f8e60c; font: 25px/27px "OpenSansBold"; color:#252525; }
.featured_in_items { width:100%; float:left; padding:9% 0 11% 0; }
.featured_in_items div { text-align:center; padding:20px 0 0 0; }

.getin_touch { width:100%; float:left; background:#fff; }
.getin_touch .getin_touch_title { display:block; background:url(../images/featured_events_title.jpg) 0 60% repeat-x; margin:4% 20% 0 20%; padding:0; text-align:center; }
.getin_touch .getin_touch_title h2 { display:inline-block; margin:0; padding:0 4%; background:#FFF; font: 25px/27px "OpenSansBold"; color:#252525; }
.getin_touch .getin_touch_para { display:block; margin:4% 10% 0 10%; padding:0; text-align:center; }
.getin_touch .getin_touch_para p { display:inline-block; margin:0; padding:0; font: 17px/25px "OpenSansRegular"; color:#252525; }
.getin_touch_items { width:100%; float:left; padding:60px 0 0 0; }
.getin_touch_items div h2 { width:100%; float:left; font: 19px/25px "OpenSansBold"; color:#252525; margin:0; padding:10px 0 0 0; }
.getin_touch_items div p { width:100%; float:left; font: 17px/25px "OpenSansRegular"; color:#868585; margin:0; padding:0; }
.getin_touch_items img { max-width:100%; }
.getin_touch_items .getin_touch_left { width:100%; float:left;  list-style:none; margin:0; padding:0; }
.getin_touch_items .getin_touch_left li { width:100%; float:left;  list-style:none; margin:0 0 14px 0; padding:0 0 0 35px; background:url(../images/icon14.jpg) 0 5px no-repeat; font: 17px/25px "OpenSansRegular"; color:#252525; }
.getin_touch_items .getin_touch_left li a { font: 17px/25px "OpenSansRegular"; color:#252525; }

.getin_touch_items .getin_touch_middle { width:100%; float:left;  list-style:none; margin:0; padding:0; }
.getin_touch_items .getin_touch_middle li { width:100%; float:left;  list-style:none; margin:0 0 40px 0; padding:0; }

.reviews { width:100%; float:left; background:#f8e60c; padding:4% 0 4% 0; }
.reviews .reviews_icon { width:100%; float:left; margin:0 0 4% 0; padding:0; text-align:center; }
.reviews .reviews_main { width:100%; float:left; border:1px solid #cccccc; background:#fff; padding:20px 0; margin-bottom:15px; }
.reviews .reviews_section { width:60%; margin:0 auto; padding:0; overflow:hidden; }
.reviews .reviews_section .reviews_title { width:100%; float:left; }
.reviews .reviews_section .reviews_title .pro_pic { width:61px; height:63px; float:left; padding:6px 0 0 0; }
.reviews .reviews_section .reviews_title .pro_pic img { width:100%; float:left; }
.reviews .reviews_section .reviews_title .pro_info { width:90%; float:left; padding:0 0 0 15px; }
.reviews .reviews_section .reviews_title .pro_info h2 { width:100%; float:left; margin:0; padding:0; font: 19px/25px "OpenSansBold"; color:#252525; }
.reviews .reviews_section .reviews_title .pro_info p { width:100%; float:left; margin:0; padding:0; font: 15px/20px "OpenSansRegular"; color:#848484; }
.reviews .reviews_section .reviews_title .pro_info span { width:100%; float:left; margin:0; padding:5px 0 0 0; font: 15px/20px "OpenSansRegular"; color:#252525; }
.reviews .reviews_section .pro_cont { width:100%; float:left; margin:0; padding:0; }
.reviews .reviews_section .pro_cont p { width:100%; float:left; margin:0; padding:25px 0 10px 0; font: 17px/24px "OpenSansRegular"; color:#848484; font-style:italic; }
.reviews .reviews_section .pro_ad_cont { width:100%; float:left; background:#f5f5f5; border:1px solid #d9d9d9; margin:30px 0 0 0; }
.reviews .reviews_section .pro_ad_cont .pro_ad_cont_pic { width:30%; float:left; overflow:hidden; }
.reviews .reviews_section .pro_ad_cont .pro_ad_cont_pic img { width:100%; float:left; }
.reviews .reviews_section .pro_ad_cont .pro_ad_cont_info { width:67%; float:left; padding:0 0 0 3%; }
.reviews .reviews_section .pro_ad_cont .pro_ad_cont_info h2 { width:100%; float:left; margin:0; padding:15px 0 0 0; font: 19px/24px "OpenSansRegular"; color:#848484; }
.reviews .reviews_section .pro_ad_cont .pro_ad_cont_info p { width:100%; float:left; margin:0; padding:7px 0 0 0; font: 15px/20px "OpenSansRegular"; color:#000000; }
.reviews .reviews_section .pro_ad_cont .pro_ad_cont_info span { width:100%; float:left; margin:0; padding:30px 0 0 0; font: 15px/20px "OpenSansRegular"; color:#969696; }
.reviews .reviews_section .pro_ad_cont .pro_ad_cont_info span a { color:#969696; }
.reviews .reviews_section .pro_comm_shr { width:100%; float:left; padding:10px 0 5px 0; font: 15px/20px "OpenSansRegular"; color:#000; border-bottom:1px solid #e5e5e5; }
.reviews .reviews_section .pro_comm_shr img { margin:0 3px 0 3px; }
.reviews .reviews_section .pro_comm_shr span { font: 15px/20px "OpenSansRegular"; color:#969696; }
.reviews .reviews_section .pro_comment { width:100%; float:left; padding:0 0 20px 0; margin:18px 0 0 0; border-bottom:1px solid #e5e5e5; }
.reviews .reviews_section .pro_comment .pro_comment_pic { width:44px; float:left; }
.reviews .reviews_section .pro_comment .pro_comment_pic img { width:44px; float:left; }
.reviews .reviews_section .pro_comment .pro_comment_text { width:90%; float:left; padding:0 0 0 20px; }

.reviews .reviews_section .pro_new_comment { width:100%; float:left; padding:0; margin:18px 0 0 0; }
.reviews .reviews_section .pro_new_comment .pro_comment_pic { width:44px; float:left; }
.reviews .reviews_section .pro_new_comment .pro_comment_pic img { width:44px; float:left; }
.reviews .reviews_section .pro_new_comment .pro_comment_text { width:90%; float:left; margin:0 0 0 20px; border:1px solid #c1c1c1; }
.reviews .reviews_section .pro_new_comment .pro_comment_text textarea { width:90%; height:37px; padding:10px; border:0; resize:none; overflow:hidden; }
.reviews .reviews_section .pro_new_comment .pro_comment_text img { float:right; margin:10px; }

.container_inner { width:100%; float:left; margin:50px 0; padding:1.5%; border:1px solid #e9e9e9; }

.appointment_table { width:100%; float:left; margin:20px 0 0 0; }
.appointment_info { width:100%; }
.appointment_info td.col-1 { width:10%; text-align:center; }
.appointment_info td.col-2 { width:10%; text-align:center; }
.appointment_info td.col-3 { width:8%; text-align:center; }
.appointment_info td.col-4 { width:30%; text-align:left; }
.appointment_info td.col-5 { width:14%; text-align:left; }
.appointment_info td.col-6 { width:16%; text-align:left; }
.appointment_info td.col-7 { width:12%; text-align:center; }
.appointment_info .appointment_info_title { margin:0; padding:0; background:#414146; font: 14px/30px "OpenSansLight"; color:#a4a4a4; font-weight:bold; }
.appointment_info .appointment_info_title td { padding:8px 12px; margin:0; border-right:1px solid #3a3a3f; vertical-align:middle; }
.appointment_info .appointment_info_title td img { margin:0; padding:0; }
.appointment_info .appointment_info_title td a.downarrow { float:right; }
.appointment_info .appointment_info_cont { padding:0; margin:0; font: 14px/18px "OpenSansLight"; color:#000; background:#f7f7f7 url(../images/appointment_table_bg.jpg) 0 0 repeat-x; border-left:1px solid #cdcdce; }
.appointment_info .appointment_info_cont td { padding:15px 12px; margin:0; border-right:1px solid #cdcdce; border-bottom:1px solid #cdcdce; border-top:0; }
.appointment_info .appointment_info_cont td.col-1 { background:#c2c2c2 url(../images/appointment_table_bg1.jpg) 0 0 repeat-x; border-right:1px solid #dcdcdc; border-bottom:1px solid #a8a8a9; }
.appointment_info .appointment_info_cont td img { margin:0; padding:0; }
.appointment_info .appointment_info_cont td.col-7 span { width:30%; height:20px; margin:0 1% 0 2%; padding:0 1% 0 2%; float:left; }
.appointment_info .appointment_info_cont td.col-7 span img { max-width:100%; }

.appointment_form { width:100%; float:left; margin:0; }
.appointment_form .col-1 { width:30%; float:left; margin:0 1% 0 0; }
.appointment_form .col-2 { width:46%; float:left; margin:0 1% 0 0; }
.appointment_form .col-3 { width:22%; float:left; }
.appointment_form input.user-in-date {background:url(../images/calender.png) 98% 6px no-repeat; border: 1px solid #dcdcdc; padding: 8px 16px; width: 100%; margin-bottom: 20px;font: 14px/20px "OpenSansRegular";
-webkit-box-shadow: 2px 2px 2px #eaeaea inset;
-moz-box-shadow: 2px 2px 2px #eaeaea inset;
-o-box-shadow: 2px 2px 2px #eaeaea inset;
-khtml-box-shadow: 2px 2px 2px #eaeaea inset;
-xv-box-shadow: 2px 2px 2px #eaeaea inset;
box-shadow: 2px 2px 2px #eaeaea inset;}
.appointment_form input.user-in {border: 1px solid #dcdcdc; padding: 8px 16px; width: 100%; margin-bottom: 20px;font: 14px/20px "OpenSansRegular";
-webkit-box-shadow: 2px 2px 2px #eaeaea inset;
-moz-box-shadow: 2px 2px 2px #eaeaea inset;
-o-box-shadow: 2px 2px 2px #eaeaea inset;
-khtml-box-shadow: 2px 2px 2px #eaeaea inset;
-xv-box-shadow: 2px 2px 2px #eaeaea inset;
box-shadow: 2px 2px 2px #eaeaea inset;}
.appointment_form button.appointment_search { width:100%; background:#ffea00; border: 1px solid #d4cf00;font: 19px/22px "OpenSansRegular";margin-left: 14px; padding: 6px 0 8px 0; margin:0; }

.upcoming_past { width:100%; float:left; margin:0; }
.upcoming_past button { width:195px; float:right; background:#4d4d50; border: 1px solid #252525; font: 15px/22px Arial; color:#ededed; margin-left: 14px; padding: 6px 10px 8px 10px; margin:0; }
.upcoming_past button.active { background:#ffea00; border: 1px solid #d4cf00; color:#000000; }

.well { width:100%; max-width:500px; padding:5px; background:rgba(255,255,255,0.3); border:0; position:relative; border-radius:0; }
.well .fade_cont { width:100%; height:100%; background:#fff; float:left; padding:5%; }
.well .fade_cont h2 { width:100%; height:100%; font: 21px/24px "OpenSansRegular"; margin:0; padding:0 0 15px 0; margin-bottom:20px; color:#000; border-bottom:1px solid #e5e5e5; }
.well .fade_cont .code-b { float: left; width: 38%; margin:0; padding:0; }
.well .fade_cont .code-b > img { float: left; margin-right: 10px; max-width: 127px;}
.well .fade_cont .code-in { float: left; width: 62%; margin:0; padding:0; }
.well .fade_cont .re-mic { float: left; margin: 0; width: 10px;}
.well .btnclose { width:24px; height:25px; font-size:15px; line-height:20px; font-weight:bold; text-align:center; cursor:pointer; background:#ffea00; position:absolute; right:8px; top:8px; border:2px solid #898989; border-radius:50%; }
.well .fade_cont .btn_reschedule { width:auto; background:#ffea00; border: 1px solid #d4cf00;font: 19px/22px "OpenSansRegular"; color:#000; margin-left: 14px; padding: 6px 15px 8px 15px; margin:3px 0 0 0; }
.well .fade_cont textarea { border: 1px solid #dcdcdc; padding: 8px 16px; width: 100%; resize:none; margin-bottom: 20px; font: 14px/20px "OpenSansRegular";
-webkit-box-shadow: 2px 2px 2px #eaeaea inset;
-moz-box-shadow: 2px 2px 2px #eaeaea inset;
-o-box-shadow: 2px 2px 2px #eaeaea inset;
-khtml-box-shadow: 2px 2px 2px #eaeaea inset;
-xv-box-shadow: 2px 2px 2px #eaeaea inset;
box-shadow: 2px 2px 2px #eaeaea inset;}
.well .fade_cont .text_1 { width:100%; float:left; font: 17px/22px "OpenSansRegular"; color:#414146; }
.well .fade_cont .text_2 { width:100%; float:left; padding:15px 0 10px 0; font: italic 15px/22px Arial; color:#6a6a6a; }
.clinic_name { width:100%; float:left; margin:0; padding:0; }
.clinic_name h2 { width:100%; float:left; margin:0; padding:0 0 15px 0; font: 17px/24px "OpenSansRegular"; color:#000; }
.clinic_name h2 span { color:#414146; }

.manage_appointment_form { width:100%; float:left; margin:0; }
.manage_appointment_form .col-1 { width:35%; float:left; margin:0 1% 0 0; }
.manage_appointment_form .col-2 { width:auto; float:right; margin:0 0 0 0; }
.manage_appointment_form .col-2 div { width:auto; float:left; }
.manage_appointment_form .col-2 div.choose_slot { width:auto; float:left;font: 14px/18px "OpenSansRegular"; color:#000; padding:10px 0 0 10px; }
.manage_appointment_form .col-2 div.choose_slot sup { color:#ff0000; font: 13px/15px "OpenSansBold"; }
.manage_appointment_form .col-2 div.choose_slot_list { width:auto; float:left; font: 14px/18px "OpenSansRegular"; color:#949494; padding:10px 10px 0 10px; }
.manage_appointment_form .col-2 div.choose_slot_list a { float:left; color:#949494; margin:0; padding:0; }
.manage_appointment_form .col-2 div.choose_slot_list a:hover { color:#949494; text-decoration:underline; }
.manage_appointment_form .col-2 div.choose_slot_list img { float:left; margin:5px 5px 0 0; }
.manage_appointment_form input.user-in-date {background:url(../images/calender.png) 98% 6px no-repeat; border: 1px solid #dcdcdc; padding: 8px 16px; width: 100%; margin-bottom: 10px;font: 14px/20px "OpenSansRegular";
-webkit-box-shadow: 2px 2px 2px #eaeaea inset;
-moz-box-shadow: 2px 2px 2px #eaeaea inset;
-o-box-shadow: 2px 2px 2px #eaeaea inset;
-khtml-box-shadow: 2px 2px 2px #eaeaea inset;
-xv-box-shadow: 2px 2px 2px #eaeaea inset;
box-shadow: 2px 2px 2px #eaeaea inset;}
.manage_appointment_form div.upcoming_past { width:auto; float:right; margin:0; }
.manage_appointment_form div.upcoming_past button { width:auto; float:right; background:#4d4d50; border: 1px solid #252525; font: 15px/22px Arial; color:#ededed; margin-left: 14px; padding: 6px 10px 8px 10px; margin:0; }
.manage_appointment_form div.upcoming_past button.active { background:#ffea00; border: 1px solid #d4cf00; color:#000000; }

.manage_appointment_table { width:100%; float:left; margin:20px 0 0 0; position:relative; border:1px solid #e9e9e9; }
.manage_appointment_table .manage_appointment_info { width:100%; }
.manage_appointment_table .manage_appointment_info td.coll { width:10%; text-align:center; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_title { margin:0; padding:0; background:#414146; font: 13px/20px "OpenSansLight"; color:#a4a4a4; font-weight:bold; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_title td { padding:12px; margin:0; border-right:1px solid #3a3a3f; vertical-align:middle; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_title td img { margin:0; padding:0; }
.manage_appointment_table div.manage_appointment_page { width:100%; position:absolute; left:0; top:25px; }
.manage_appointment_table div.manage_appointment_page .left_arrow { position:absolute; left:13%; top:0;}
.manage_appointment_table div.manage_appointment_page .right_arrow { position:absolute; right:1%; top:0;}
.manage_appointment_table .manage_appointment_info .manage_appointment_info_title td.y_back { background:#f4bd00; color:#000; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont { padding:0; margin:0; font: 14px/18px "OpenSansRegular"; color:#000; background:#00b64d; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td { padding:15px 12px; margin:0; border:0; border-top:1px solid #fff; border-right:1px solid #fff; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td.y_back { background:#f4bd00; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td.y_back span { display:inline-block; color:#fff; font-size:13px; padding:5px 0 0 0; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td.r_back { background:#fa3127; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td.r_back span { display:inline-block; color:#fff; font-size:13px; padding:5px 0 0 0; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td.g_back { background:#c2c2c2; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td.col-1 { background:#e7e7e7; border-right:1px solid #fff; border-bottom:1px solid #fff; text-align:left; line-height:22px; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td.col-1 span { width:40px; float:left; margin:0 0 0 10px; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td img { margin:0; padding:0; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td .icon1 { float:left; margin:0 0 0 17%; padding:0; }
.manage_appointment_table .manage_appointment_info .manage_appointment_info_cont td .icon2 { float:right; margin:0 17% 0 0; padding:0; }

.month_title { width:100%; float:left; background:#ececec url(../images/cal_top.jpg) center top repeat-x; margin:15px 0 0 0; padding:0; position:relative; }
.month_title .month_is { width:100%; float:left; margin:0; padding:40px 0 10px 0; text-align:center; font: 21px/38px Arial; color:#4d4d50; }
.month_title div.monthly_appointment_page { width:100%; position:absolute; left:0; top:45px; }
.month_title div.monthly_appointment_page .left_arrow { position:absolute; left:1%; top:0;}
.month_title div.monthly_appointment_page .right_arrow { position:absolute; right:1%; top:0;}

.monthly_appointment_table { width:100%; float:left; margin:0; position:relative; border:1px solid #e9e9e9; }
.monthly_appointment_table .monthly_appointment_info { width:100%; }
.monthly_appointment_table .monthly_appointment_info td.coll { width:10%; text-align:center; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_title { margin:0; padding:0; background:#414146; font: 17px/20px "OpenSansLight"; color:#a4a4a4; font-weight:bold; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_title td { padding:16px 12px; margin:0; border-right:1px solid #3a3a3f; vertical-align:middle; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_title td img { margin:0; padding:0; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_title td.y_back { background:#f4bd00; color:#000; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont { padding:0; margin:0; font: 30px/38px "OpenSansRegular"; color:#ffffff; background:#00b64d; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td.coll span { width:100%; float:left; font: 13px/17px "OpenSansRegular" !important; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td { padding:15px 12px; margin:0; border:0; border-top:1px solid #fff; border-right:1px solid #fff; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td.y_back { background:#f4bd00; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td.r_back { background:#fa3127; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td.g_back { background:#ffffff; color:#b2b1b1; border-right:1px solid #e9e9e9; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td.gg_back { background:#c2c2c2; color:#FFF; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td img { margin:0; padding:0; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td .icon1 { float:left; margin:0 0 0 17%; padding:0; }
.monthly_appointment_table .monthly_appointment_info .monthly_appointment_info_cont td .icon2 { float:right; margin:0 17% 0 0; padding:0; }

.help_container { width:100%; float:left; margin:5% 0; padding:0; }
.msg_container { width:100%; float:left; margin:5% 0; padding:0; }
.msg_nav { width:100%; float:left; background:#4d4d50; }
.msg_nav ul { width:auto; float:left; margin:10px 0; padding:0; list-style:none; }
.msg_nav ul li { width:auto; float:left; margin:0 0 0 20px; padding:0 22px; list-style:none; border-right:1px solid #363638; }
.msg_nav ul li a { font: normal 15px/20px Arial; color:#fff; text-decoration:none; }
.msg_nav ul li a:hover { color:#f9e514; }
.msg_nav ul li.inbox { background:url(../images/inbox-icon.jpg) 0 1px no-repeat; }
.msg_nav ul li.inbox_active { background:url(../images/inbox-icon-active.jpg) 0 1px no-repeat; }
.msg_nav ul li.inbox_active a { color:#f9e514; }
.msg_nav ul li.compose { background:url(../images/compose_icon.jpg) 0 0 no-repeat; }
.msg_nav ul li.compose_active { background:url(../images/compose_icon_active.jpg) 0 0 no-repeat; }
.msg_nav ul li.compose_active a { color:#f9e514; }
.msg_nav ul li.outbox { background:url(../images/outbox_icon.jpg) 0 0 no-repeat; }
.msg_nav ul li.outbox_active { background:url(../images/outbox_icon_active.jpg) 0 0 no-repeat; }
.msg_nav ul li.outbox_active a { color:#f9e514; }
.msg_nav ul li.draft { background:url(../images/draft_icon.jpg) 0 0 no-repeat; }
.msg_nav ul li.draft_active { background:url(../images/draft_icon_active.jpg) 0 0 no-repeat; }
.msg_nav ul li.draft_active a { color:#f9e514; }
.all_msg { width:auto; float:right; background:url(../images/msg_icon.jpg) 0 12px no-repeat; padding:7px 7px 7px 47px; }
.all_msg .select-wrapper { background:#fff url("../images/dornarrow.jpg") no-repeat 97% 50%; border: 1px solid #dcdcdc; box-shadow: 2px 2px 2px #eaeaea inset; cursor: pointer; float: left; font: 13px/14px "OpenSansRegular"; margin: 0; padding:0; position: relative; width: 100%; }
.all_msg .select-wrapper select { float: left; padding: 2px 16px; width: 100%; }
.all_msg .select-wrapper .holder { cursor: pointer; display: block; overflow: hidden; padding: 4px 16px; position: absolute; white-space: nowrap; z-index: 5; }

.compose_msg { width:100%; float:left; background:#f6f6f6; border:1px solid #e9e9e9; margin:20px 0 0 0; padding:20px 5px; }
.msg_composer_main { float:right; }
.msg_composer { width:100%; float:left; background:#fff; border:1px solid #d0d0d0; }
.msg_composer div.left { width:40%; float:left; padding:5%; }
.msg_composer div.left img { width:100%; }
.msg_composer div.right { width:60%; float:left; padding:0 5% 0 0; }
.msg_composer div.right h2 { width:100%; float:left; margin:0; padding:20px 0 0 0; font: 19px/21px Arial; color:#000; }
.msg_composer div.right p { width:100%; float:left; margin:0; padding:10px 0 0 0; font: 15px/18px Arial; color:#4d4d50; }

.msg_list_in { width:100%; float:left; margin:0 0 15px 0; }
.msg_list_in .middle { width:74%; min-height:80px; float:left; position:relative; border:1px solid #d0d0d0; background:#fff; padding:3% 3% 3% 3%; margin:0 3%; }
.msg_list_in .middle:before { content:''; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 12px solid #d0d0d0; position:absolute; left:-12px; top:20px; }
.msg_list_in .middle:after { content:''; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 12px solid #fff; position:absolute; left:-10px; top:20px; }
.msg_list_in .middle .add_msg { width:auto; position:absolute; right:10px; top:10px; text-align:right; }
.msg_list_in .middle p { width:100%; float:left; font:normal 13px/15px Arial; color:#4d4d50; }
.msg_list_in .middle textarea { width:100%; height:70px; float:left; border:1px solid #c1c1c1; resize:none; }
.msg_list_in .middle button.btn_send { float:left; background:#f9e514; border: 1px solid #decc00; font: 15px/22px Arial; color:#000000; margin:15px 0 0 0; padding:4px 15px; }
.msg_list_in .days_ago { width:83%; float:left; padding:8px 0 0 13%; font:italic normal 13px/15px Arial; color:#656565; }
.msg_list_in .left { width:10%; min-height:50px; float:left; border-radius:50%; overflow:hidden; }
.msg_list_in .left img { width:100%; }

.msg_list_out { width:100%; float:left; margin:0 0 15px 0; }
.msg_list_out .middle { width:74%; min-height:80px; float:left; position:relative; border:1px solid #d0d0d0; background:#fff; padding:3% 3% 3% 3%; margin:0 3% 0 13%; }
.msg_list_out .middle:before { content:''; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 12px solid #d0d0d0; position:absolute; right:-12px; top:20px; }
.msg_list_out .middle:after { content:''; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 12px solid #fff; position:absolute; right:-10px; top:20px; }
.msg_list_out .middle .add_msg { width:auto; position:absolute; right:10px; top:10px; text-align:right; }
.msg_list_out .middle p { width:100%; float:left; font:normal 13px/15px Arial; color:#4d4d50; }
.msg_list_out .middle textarea { width:100%; height:70px; float:left; border:1px solid #c1c1c1; resize:none; }
.msg_list_out .middle button.btn_send { float:right; background:#f9e514; border: 1px solid #decc00; font: 15px/22px Arial; color:#000000; margin:15px 0 0 0; padding:4px 15px; }
.msg_list_out .days_ago { width:83%; float:left; padding:8px 0 0 13%; text-align:right; font:italic normal 13px/15px Arial; color:#656565; }
.msg_list_out .right { width:10%; min-height:50px; float:right; border-radius:50%; overflow:hidden; }
.msg_list_out .right img { width:100%; }

.msg_table { width:100%; float:left; margin:20px 0 0 0; background:#f6f6f6; border:1px solid #cdcdce; border-bottom:0; }
.msg_info { width:100%; }
.msg_info td.col-1 { width:24%; text-align:left; }
.msg_info td.col-2 { width:40%; text-align:left; }
.msg_info td.col-3 { width:11%; text-align:left; line-height:30px; }
.msg_info td.col-4 { width:11%; text-align:left; line-height:30px; }
.msg_info td.col-5 { width:12%; text-align:center; }
.msg_info .msg_info_cont { padding:0; margin:0; font: 15px/18px Arial; color:#4d4d50; }
.msg_info .msg_info_cont td { padding:15px 12px; margin:0; border-bottom:1px solid #cdcdce; }
.msg_info .msg_info_cont td img { margin:0; padding:0; }
.msg_info .msg_info_cont td.col-1 div.pic { width:51px; height:50px; float:left; border-radius:50%; overflow:hidden; }
.msg_info .msg_info_cont td.col-1 div.pic img { width:100%; }
.msg_info .msg_info_cont td.col-1 div.picdetails { width:79%; float:left; padding:5px 0 0 10px; }
.msg_info .msg_info_cont td.col-3 img { float:left; margin:2px 0 0 0; padding:0; }
.msg_info .msg_info_cont td.col-3 div { float:left; margin:0; padding:0 0 0 8px; }
.msg_info .msg_info_cont td.col-4 img { float:left; margin:4px 0 0 0; padding:0; }
.msg_info .msg_info_cont td.col-4 div { float:left; margin:0; padding:0 0 0 8px; }
.msg_info .msg_info_cont td.col-5 span { width:30%; height:20px; margin:0 1% 0 2%; padding:0 1% 0 2%; float:left; }
.msg_info .msg_info_cont td.col-5 span img { max-width:100%; }

.msg_table_pagination { width:100%; float:left; text-align:right; margin:15px 0 0 0; }
.msg_table_pagination a.prev { width:7px; height:11px; line-height:12px; background:url(../images/icon39.jpg) 0 0 no-repeat; display:inline-block; text-decoration:none; }
.msg_table_pagination a.prev:hover { background:url(../images/icon42.jpg) 0 0 no-repeat; }
.msg_table_pagination a.next { width:7px; height:11px; line-height:12px; background:url(../images/icon40.jpg) 0 0 no-repeat; display:inline-block; text-decoration:none; margin:0 0 0 10px; }
.msg_table_pagination a.next:hover { background:url(../images/icon41.jpg) 0 0 no-repeat; }

.msg_table_pagination a.page { font: 15px/22px Arial; color:#000000; padding:0 7px 0 7px; margin:0; background:url(../images/icon38.jpg) right 4px no-repeat; display:inline-block; text-decoration:none; }
.msg_table_pagination a.page:hover { background:#f8e60c url(../images/icon43.jpg) right 2px no-repeat; text-decoration:none; }
.msg_table_pagination a.page_active { font: 15px/22px Arial; color:#000000; padding:0 7px 0 7px; margin:0; background:#f8e60c url(../images/icon43.jpg) right 2px no-repeat; display:inline-block; text-decoration:none; }

