@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'CuprumRegular';
    src: url('../fonts/cuprum-regular.eot');
    src: url('../fonts/cuprum-regular.eot') format('embedded-opentype'),
         url('../fonts/cuprum-regular.woff') format('woff'),
         url('../fonts/cuprum-regular.ttf') format('truetype'),
         url('../fonts/cuprum-regular.svg#CuprumRegular') format('svg');
}
@font-face {
    font-family: 'ImprimaRegular';
    src: url('../fonts/imprima-regular.eot');
    src: url('../fonts/imprima-regular.eot') format('embedded-opentype'),
         url('../fonts/imprima-regular.woff') format('woff'),
         url('../fonts/imprima-regular.ttf') format('truetype'),
         url('../fonts/imprima-regular.svg#ImprimaRegular') format('svg');
}
@font-face {
    font-family: 'HandleeRegular';
    src: url('../fonts/handlee-regular.eot');
    src: url('../fonts/handlee-regular.eot') format('embedded-opentype'),
         url('../fonts/handlee-regular.woff') format('woff'),
         url('../fonts/handlee-regular.ttf') format('truetype'),
         url('../fonts/handlee-regular.svg#HandleeRegular') format('svg');
}
